fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
python-dotenv
python-jose[cryptography]
bcrypt
python-multipart
httpx
pydantic[email]
prometheus-fastapi-instrumentator
google-generativeai
